/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-avartars-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden; 
    overflow-x: auto;
    padding: 20px;
    padding-left: 0px;
    padding-top: 0px;
}

.modal-avartars-list img {
    width: 100px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
}

.modal-avartars-list img:hover {
    border: solid 1px #5cb85c;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #E74C3C;
}

.modal-header h2 {
    color: #fff;
    font-weight: 700;
}

.modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;
    color: #3333;
}

.modal-name-player {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 10px;
    border: solid 2px #888;
    margin: 10px;
    width: 70%;
    text-align: center;
    color: #333;
}
.modal-name-player:focus {
    border-radius: 10px;
    border: solid 2px #E74C3C;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #E74C3C;
    color: white;
}

.modal-footer .btn-add-player, .modal-footer .btn-cancel-player {
    background-color: #fff;
    width: 200px;
    border-radius: 5px;
    font-size: 0.8rem;
    color: #E74C3C;
    padding: 10px;
    margin-top: 5px;
    border: none;
    font-size: 1rem;
}

.modal-footer .btn-add-player {
    margin-right: 10px;
}
