.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E74C3C;
}

.header .header-title {
    padding: 20px;
    color: #fff;
    font-weight: 700;
}